.login {
  position: relative;
  width: 100vw;
  height: 100vh;
  //要使用绝对路径，就要使用~
  background-image: url('~assets/login.png');
  background-size: cover;
  .login-container {
    position: absolute;
    width: 440px;
    height: 360px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .login-logo {
    width: 200px;
    height: 60px;
    display: block;
    margin: 0 auto 20px;
  }
}
